<p>my-playlist works!</p>

<router-outlet></router-outlet>

<!--<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <button class="btn btn-outline-success" type="button">Search</button>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup)="onSearch($event)" />
    </form>
  </div>
</nav>
<div>
  <ul class="list-group list-group-horizontal-xxl">

    <li class="list-group-item" *ngFor="let n of songs$ | async">
      {{n.mp3}} />
      <img [src]="" />
    </li>
  </ul>
</div>-->

<table class="table">
  <thead>
    <tr>
      <th>Artist Name</th>
      <th>Song</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let n of songs$ | async">
      <td scope="col">{{n.songName}}</td>
      <td scope="row"><audio controls src={{n.mp3}} type="audio/mp3"></audio></td>
    </tr>
    <tr>
      <td>
        <audio controls><source src="./my-paylist/amen-break-no-copyright-remake-120bpm-25924.mp3" type="audio/mp3"></audio>
      </td>
    </tr>
  </tbody>
</table>

<!--<source [src]="n.mp3" type="audio/mp3">-->
