/*.form-control.ng-untouched {
  border-color: #cecece;
  background-image: none;
}

.form-control.ng-invalid:focus {
  border-color: #dc3545;
  background-image: none;
  box-shadow:none;
}*/

h5 {
  color: white;
}

li {
  font-size: 2em
}



.carousel-control-next, .carousel-control-prev {
  opacity: 0.1;
  color: black;
  border-style: hidden;
  border-radius: 10px;
  font-family:fantasy;
  font-size: x-large;
}

  .carousel-control-next:hover, .carousel-control-prev:hover {
    color: dimgray;
    opacity: 0.3;
  }




