<div class="container">
  <form [formGroup]="loginForm" class="was-validated" novalidate>
    <h4 class="col-md-6">Login</h4>
    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email"
             class="form-control"
             id="inputEmail" name="email"
             placeholder="Email"
             formControlName="email"
             required>

      <div class="invalid-feedback" *ngIf="email.touched">Please enter a valid email</div>
    </div>
    <div class="col-md-6">
      <label for="inputPassword"
             class="form-label">Password</label>
      <input type="password"
             class="form-control"
             id="inputPassword"
             name="password"
             placeholder="Password"
             formControlName="password"
             required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
  </form>
</div>


<pre>
  {{loginForm.value | json}}
</pre>
<pre>
  {{loginForm.valid}}
</pre>
