<div class="container">
  <form [formGroup]="loginForm" class="was-validated" novalidate (ngSubmit)="onSubmit()">
    <h4 class="col-md-6">Login</h4>
    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email"
             class="form-control"
             id="inputEmail"
             placeholder="Enter Email"
             formControlName="email"
             required>
      <div class="invalid-feedback"
           *ngIf="emailControl.touched">Please enter a valid email</div>
    </div>
    <div class="col-md-6">
      <label for="inputPassword"
             class="form-label">Password</label>
      <input type="password"
             class="form-control"
             id="inputPassword"
             placeholder="Enter Password"
             formControlName="password"
             [ngClass]="{'is-invalid': passwordControl.errors &&
             (passwordControl.touched || passwordControl.dirty)}"
             required>
      <div class="invalid-feedback"
           *ngIf="passwordControl.errors | onlyOneError:['minlength','invalidPassword'] as displayError">
        <div *ngIf="displayError?.['minlength']">
          Password length must be greater {{displayError?.['minlength'].requiredLength}} characters.
        </div>
        <div *ngIf="displayError?.['invalidPassword']">
          Password must have upper case, lower case, numeric value.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" [disabled]="!loginForm.valid" type="submit">Login</button>

    </div>

  </form>
</div>

<pre>
  {{loginForm.value | json}}
</pre>
<pre>
  {{loginForm.valid}}
</pre>
<pre>
  {{passwordControl.errors | json}}
</pre>


