<div class="container">
  <form [formGroup]="loginForm" class="was-validated" novalidate>
    <h4 class="col-md-6">Login</h4>
    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email"
             class="form-control"
             id="inputEmail"
             placeholder="Enter Email"
             formControlName="email"
             required>
      <div class="invalid-feedback"
           *ngIf="emailControl.touched">Please enter a valid email</div>
    </div>
    <div class="col-md-6">
      <label for="inputPassword"
             class="form-label">Password</label>
      <input type="email"
             class="form-control"
             id="inputPassword"
             placeholder="Enter Password"
             formControlName="password"
             [ngClass]="{'is-invalid': passwordControl.errors &&
             (passwordControl.touched || passwordControl.dirty)}"
             required>
      <div class="invalid-feedback">
        <div *ngIf="passwordControl.errors?.['minlength']">
          Password length must be greater {{passwordControl.errors?.['minlength'].requiredLength}} characters.
        </div>
        <div *ngIf="passwordControl.errors?.['invalidPassword']">
          Password must have upper case, lower case, numeric value.
        </div>
      </div>

    </div>


  </form>
</div>


<pre>
  {{loginForm.value | json}}
</pre>
<pre>
  {{loginForm.valid}}
</pre>
<pre>
  {{passwordControl.errors | json}}
</pre>

<!--*ngIf="passwordControl.errors | onlyOneError:['minlength', 'invlidPassword'] as error"-->


<!--[ngClass]="{'is-invalid': emailControl.errors &&
             (emailControl.touched || emailControl.dirty),
             'is-valid':emailControl.valid}"-->
