.form-control.ng-untouched {
  border-color: #cecece;
  background-image: none;
}

.form-control.ng-invalid:focus {
  border-color: #dc3545;
  background-image: none;
  box-shadow:none;
}

h5 {
  color: white;
}

li {
  font-size: 2em
}



