<router-outlet></router-outlet>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <button class="btn btn-outline-success" type="button">Search</button>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup)="onSearch($event)" />
    </form>
  </div>
</nav>
<div>
  <ul class="list-group list-group-horizontal-xxl">
    <li class="list-group-item" *ngFor="let n of songs$ | async">
      {{n.songName}}
      <img [src]="" />
    </li>
  </ul>
</div>


