<div class="container text-center mt-4">

  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #searchInput>
    <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
  </form>
  <br />
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #searchInput>
  </form>

  <table class="table table-striped table-bordered table-sm row-border hover" id="">
    <thead>
      <tr>
        <th>ID</th>
        <th>Song name</th>
        <th>Song</th>
        <th>Track Length</th>
        <th>Track Image</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let art of (songs$ | async ) ">
        <td>{{art.id}}</td>
        <td>{{art.songName}}</td>
        <td>{{art.length}}</td>
        <td>{{art.trackImage}}</td>
        <td><button class="btn btn-primary">View song</button></td>
        <!-- include a property with the url for each song - url (string) and in object the URL
    and do a relative router navigation[routerLink]="'[art.url]'". Please see Router Path Variables - Variable Target Routes with the Router Link Directive -->
      </tr>
    </tbody>
  </table>


</div>

