.item-list{
    background-color:lightgrey;
    padding: 1em;
}

.picture-height {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.container-height {
    height:400px;
}

.slider-wrap{
    position: relative;
    overflow:hidden;
    height: 100px;
}
.slider-main{
    position: relative;
}
.item{
    display: inline-block;
    position:relative;
}
.prev {
  position: absolute;
  left: 5px;
  /*top:5px;*/
  top: 30%;
  transform: translate(50%, 50%);
}
.next {
  position: absolute;
  right: 70px;
  top: 45%;
  transform: translate(-50%, -50%);
}

button {
  background: transparent;
  border: none;
}

  @media only screen and (max-width: 993px) and (min-width: 769px) {
    .item-list {
      padding: .25em;
    }

    .container-height {
      height: 400px;
    }
  }

  @media only screen and (max-width: 768px) {

    .container-height {
      height: 300px;
    }
  }
